:root{
    --vbright: #fefbe9;
    --bright: #e1eedd;
    --light: #4E9F3D;
    --ltmed: #f0a04b; 
    --medium: #836953;
    --dark: #183a1d;
    

}
* {
    background-color: var();
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--vbright);
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
    background-color: var(--bright);
}
h1 {
    font-family: 'Ewert', cursive;
    font-size: 300%;
    color: var(--medium);
    margin-top: 1%;
    margin-left: 5%;
    
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    margin-top: 3%;
}
nav a {
    background-color: unset;
    text-decoration: none;
    padding: 8px 25px;
    color: var(--dark);
    font-weight: bold;
    font-family: sans-serif;
    transition: all .5s ease; 
}
nav ul li a:hover {
    background-color: var(--vbright);
    color: var(--ltmed);
    box-shadow: 0 0 10px white;
}
.about {
    width: 100%;
    padding: 78px 0px;
}
.about img{ 
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}
.main {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about-text h2 {
    color: var(--ltmed);
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    margin-bottom: 60px;
}
.about-text p {
    color: var(--dark);
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    line-height: 28px;
}
.wrapper {
    margin: 10px auto;
    padding: 0 10%;
    padding-bottom: 10px;
    text-transform: capitalize;
}
h3 {
    color: #836953;
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}
.container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.box {
    height:300px;
    padding: 20px;
    background: var(--bright);
    border-radius: 5px;
}
.img-card {
    background-color: #f0a04b;
    height: 200px;
    margin-bottom: 10px;
    background-size: cover;
}
.anime-1 {
    background-image: url('/Users/leandromachado/Documents/My-ProFolio-WK2/assets/images/anime.jpg');
}
h4 {
    font-size: 20px;
    font-family: sans-serif;
    justify-content: left;
    
}
.box p {
    font-family: Helvetica, sans-serif;
}

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
    .wrapper {
        padding: 20px;
    }
  
}

