:root{
    --bright: #F1FFFF;
    --light: #90e0ef;
    --med: #00b4d8; 
    --dark: #0077b6;
    --darkest: #00172d;
    

}
* {
    background-color: var();
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--med);
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
    background-color: var(--med);
}
h1 {
    font-family: 'Ewert', cursive;
    font-size: 300%;
    color: var(--bright);
    margin-top: 1%;
    margin-left: 5%;
    
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    margin-top: 3%;
}
nav a {
    background-color: unset;
    text-decoration: none;
    padding: 8px 25px;
    color: var(--bright);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.1vw;
    transition: all .5s ease; 
}
nav ul li a:hover {
    background-color: var(--light);
    color: var(--darkest);
    transition: 0.8s;
    box-shadow: 0 0 10px var(--bright);
}
.about {
    width: 100%;
    padding: 78px 0px;
}
.responsive {
    width: 35%;
    height: auto;
  }
.about-text{
    width: 550px;
}
.main {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about-text h2 {
    color: var(--bright);
    font-family: 'Abril Fatface', cursive;
    font-size: 4.5vw;
    margin-bottom: 60px;
}
.about-text p {
    color: var(--darkest);
    font-size: 1.2vw;
    font-family: Helvetica, sans-serif;
    line-height: 2.5vw;
}
.wrapper {
    margin: 10px auto;
    padding: 0 10%;
    padding-bottom: 10px;
    text-transform: capitalize;
}
h3 {
    color: var(--bright);
    font-size: 3.1vw;
    text-align: center;
    margin-bottom: 30px;
}
.container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    color: var(--bright);
}
.box {
    height: 300px;
    padding: 20px;
    background-color: var(--dark);
    border-radius: 5px;
}
.box h4 {
    font-size: 20px;
    font-family: sans-serif;
    justify-content: left;
    margin-bottom: .5vw;
}
.box p {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: var(--darkest);
}
.box:hover {
    background-color: var(--light);
    color: var(--darkest)!important;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.img-card {
    height: 200px;
    margin-bottom: 10px;
    background-size: cover;
}
.anime-1 {
    background-image: url('/Users/leandromachado/Documents/My-ProFolio-WK2/assets/images/anime.jpg');
}
.passgen {
    background-image: url('/Users/leandromachado/Documents/My-ProFolio-WK2/assets/images/passgen.jpg');
}
.readmegen {
    background-image: url('/Users/leandromachado/Documents/My-ProFolio-WK2/assets/images/readmegen.jpg');
}
.ref {
    background-image: url('/Users/leandromachado/Documents/My-ProFolio-WK2/assets/images/ref.jpg');
}
.weather-dash {
    background-image: url('/Users/leandromachado/Documents/My-ProFolio-WK2/assets/images/weather-dash.jpg');
}
.wplanner {
    background-image: url('/Users/leandromachado/Documents/My-ProFolio-WK2/assets/images/wplanner.jpg');
}

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
    .wrapper {
        padding: 20px;
    }
  
}

